body{
    background-color: #1abc9c;
}

h1{
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 3em;
    font-weight: 300;
}

#calculator-brand{
    text-align: right;
    color: #2c3e50;
    font-size: 1.5em;
    font-family: 'Open Sans', serif;
    font-weight: bolder;
}

#keypad{
    width:265px;
    margin-left: auto;
    margin-right: auto;
}

table{
    background-color: #e67e22;
    border-radius: 10px;
    padding:10px;
}

#display-bar{
    background-color: #ecf0f1;
    margin-bottom: 10px;
    height: 50px;
    width: 235px;
    font-size:3em;
    font-family: 'VT323', monospace;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    padding-left: 5px;
}

input[type=button]{
    background-color: #8e44ad;
    height:50px;
    width:50px;
    font-size: 1em;
    border-radius: 10px;
    margin: 3px;
}
